<div n:foreach="$stats as $jobId => $batches" class="m-b-30">
    <p class="f-500 c-black m-b-15">Job #{$jobId}</p>
    <div n:foreach="$batches as $batch" class="progress progress-striped m-b-15 {$batch['active'] ? 'active'}">
        <div class="progress-bar {$batch['active'] === false ? 'progress-bar-danger'}" role="progressbar" aria-valuenow="{$batch['count']}" aria-valuemin="0" aria-valuemax="{$batch['totalCount']}" style="width: {$batch['percent']}%">
            <span class="sr-only">45% Complete</span>
        </div>
    </div>
</div>